body {
    background-color: #D9ED92;
}

.navbgcol1 {
    background-color: #606C38;
}

.short-text { display: none; }


@media only screen and (max-width: 720px) {
    .navbgcol1 {
        background-color: #e5ff00;
    }
    .short-text { 
        display: inline-block; 
    }
    .full-text { 
        display: none; 
    }
}

@media only screen and (orientation:portrait) {
    div {
        margin-bottom: 10px;
    }
}

@media only screen and (orientation:landscape) {
    div {
        margin-bottom: 20px;
    }
}